<% if(collection.pagination.totalPages > 1) { %>
	<ul>
	<% if(collection.pagination.prev) { %>
		<li><a href="javascript:void(0)" class="prev"><%= lang.pagination.link.previous %></a></li>
	<% } else { %>
		<li><span><%= lang.pagination.link.previous %></span></li>
	<% } %>

	<% _.each(collection.pagination.pages, function(page) { %>
		<% if(page == collection.pagination.page) { %>
			<li><span class="page" title="<%= page %>"><%= page %></span></li>
		<% } else { %>
			<li><a href="javascript:void(0)" class="page" title="<%= page %>"><%= page %></a></li>
		<% } %>
	<% }) %>

	<% if(collection.pagination.next) { %>
		<li><a href="javascript:void(0)" class="next"><%= lang.pagination.link.next %></a></li>
	<% } else { %>
		<li><span><%= lang.pagination.link.next %></span></li>
	<% } %>
<% } %>
